<div class="login">
<form [formGroup]="loginForm" (ngSubmit)="onAttemptLogin()">
  <div class="formClass fontTextStyle">
    <img src="assets/CTWlogo.png" class="responsive selfAlign"/>

    <input class="labelsMargin" type="text" placeholder="Username" formControlName="username" required>

    <input class="labelsMargin" type="text" placeholder="Password" formControlName="password" required>
    <span class="forgotPassword">Forgot Password</span>
    <button class="labelsMargin" type="submit" >Log in</button>

    <label class="createAccount labelsMargin selfAlign"><a routerLink="/register" routerLinkActive="active">Create account</a></label>

<!--    <p>
      Form Status: {{ loginForm.status }}
    </p>-->
  </div>
</form>
</div>
