@import "src/styles.sass"
@import "src/app/app.component.sass"

.tournament
  color: blue
  display: flex
  align-items: center
  gap: 25px
  height: 50vh

.phase
  display: flex
  flex-direction: column
  justify-content: space-around
  height: inherit
  margin: 10px 0 10px 0
