<ng-container *ngIf="tournaments$ | async as tournaments">
  <div class="tournament" *ngFor="let tnm of tournaments; let index=index;">
    <mat-accordion >
      <mat-expansion-panel [expanded]="step === index" (opened)="setStep(index)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tournament number: {{index +1}}
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngFor="let game of tnm.matches[0]">
              <p style="white-space: nowrap"> {{game.playerOne}} VS {{game.playerTwo}} ,</p>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="tournament" >
            <ng-container *ngFor="let phase of tnm.matches">
              <app-phase class="phase" [phase]="phase"></app-phase>
            </ng-container>
          </div>
        <mat-action-row>
          <button (click)="onUpdateTournament(tnm)"><a routerLink= '{{"/home/editTournament/" + tnm.id}}'>Update</a></button>
          <button *ngIf="index > 0" mat-button color="warn" (click)="prevStep()">Previous</button>
          <button *ngIf="index < tournaments.length -1" mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
